<div class="row">
  <div class="column small-12 medium-4 left-col">
    <div class="row">
      <div class="column small-12 text-center name-header">
        <h1 class="logotype_name" id="cursive">Fremin <span class="purple">Florian</span></h1>
        <h2 class="logotype_occupation text-center">Candidature <br>licence professionnelle</h2>
      </div>
      <div class="column small-12 avatar">
        <%= image_tag("Logo_computer.png") %>
      </div>
      <div class="column small-12">
        <h2>Bonjour!</h2>
        <p>Je m'appelle Florian Fremin, j'ai 21 ans et je suis passioné par le web. J'ai pu grâce à mes études et mes expèriences développer des atouts dans le commerce et dans le numérique.</p>
      </div>
      <div class="column small-12 contact_details_content">
        <h2>Contact</h2>
        <p class="purple">Tél:</p>
        <p>06 13 03 65 97</p>
        <p class="purple">Email:</p>
        <p>florian.fremin33@gmail.com</p>
        <p class="purple">Adresse:</p>
        <p>1 la carre,</p>
        <p>33710</p>
        <p>Saint seurin de bourg</p>
      </div>
    </div>
  </div>
  <div class="column small-12 medium-8">
    <div class="row border-defaut">
      <div class="column small-12 top-border">
        <div data-sticky-container>
          <div class="sticky" data-sticky stickTo="top" data-margin-top="0">
            <nav class="top-bar" data-magellan activeClass="active">
              <div class="menu icon-top expanded horizontal">
                <li><a href="#one"><i class="l fi-torso"></i> <span>À propos</span></a></li>
                <li><a href="#two"><i class="l fi-web"></i> <span>Compétences</span></a></li>
                <li><a href="#three"><i class="l fi-foot"></i> <span>Parcours</span></a></li>
                <li><a href="#four"><i class="l fi-archive"></i> <span>Réalisations</span></a></li>
                <li><a href="#five"><i class="l fi-mail"></i> <span>Social</span></a></li>
              </div>
            </nav>
          </div>
        </div>
      </div>
    <section id="one" data-magellan-target="one"></section>
    <div class="column small-12 padding-defaut">
      <h2>Profile</h2>
      <p> &Eacute;tudiant en commerce et management, je suis passionnée par le web en générale.<br><br> J'ai pu grâce à ma formation de développeur acquérir des connaissances solide dans le web et je souhaiterais débuter une formation me permettant de me perfectionner dans mes domaines de prédilections qui sont le web et le marketing</p>
    </div>
    <div class="column small-12" id="two" data-magellan-target="two">
      <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
      </div>
    </div>
    <div class="column small-12 padding-defaut block">
      <h2>Compétences programmation Back-end</h2>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Architecture MVC
        <div class="skills"><div class="metru_1 m100skill m1"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Ruby on Rails
        <div class="skills"><div class="metru_2 m100skill m2"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Ruby
        <div class="skills"><div class="metru_3 m100skill m3"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Sinatra
        <div class="skills"><div class="metru_4 m100skill m4"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Middleman
        <div class="skills"><div class="metru_5 m100skill m5"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        MySQL/PostgreSQL/SQLite
        <div class="skills"><div class="metru_6 m100skill m6"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Git
        <div class="skills"><div class="metru_7 m100skill m7"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Github
        <div class="skills"><div class="metru_8 m100skill m8"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Linux Ubuntu
        <div class="skills"><div class="metru_9 m100skill m9"></div></div>
      </div>
    </div>
    <div class="column small-12 padding-defaut block">
      <h2>Compétences programmation Front-end</h2>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        HTML
        <div class="skills"><div class="metru_10 m100skill m10"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        CSS
        <div class="skills"><div class="metru_11 m100skill m11"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Responsive Design
        <div class="skills"><div class="metru_12 m100skill m12"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Bootstrap
        <div class="skills"><div class="metru_13 m100skill m13"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Foundation
        <div class="skills"><div class="metru_14 m100skill m14"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        JavaScript/Jquery
        <div class="skills"><div class="metru_15 m100skill m15"></div></div>
      </div>
    </div>
    <div class="column small-12 padding-defaut block">
      <h2>Compétences commerce et marketing</h2>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Accueil de la clientèle
        <div class="skills"><div class="metru_16 m100skill m16"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Gestion du service après vente
        <div class="skills"><div class="metru_17 m100skill m17"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Réception de commande
        <div class="skills"><div class="metru_18 m100skill m18"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Maintenance informatique
        <div class="skills"><div class="metru_19 m100skill m19"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Etude de marché
        <div class="skills"><div class="metru_20 m100skill m20"></div></div>
      </div>
    </div>
    <div class="column small-12 medium-4">
      <div class="unscor">
        Wireframing
        <div class="skills"><div class="metru_21 m100skill m21"></div></div>
      </div>
    </div>
    <div class="column small-12" id="three" data-magellan-target="three">
      <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
      </div>
    </div>
    <div class="column small-12 padding-defaut block">
      <h2>Parcours</h2>
    </div>
    <div class="column small-12 timeline">
      <ul>
        <li>
          <div id="education-1">
            <p>2016-2017</p>
            <p>Formation Développeur web Full Stack</p>
            <p>Le Wagon, Bordeaux</p>
          </div>
        </li>
        <li>
          <div id="education-2">
            <p>2014-2016</p>
            <p>BTS MUC <br>Management des unités commerciales</p>
            <p>Lycée Elie Faure, Lormont</p>
          </div>
        </li>
        <li>
          <div id="education-3">
            <p>2013-2014</p>
            <p>BTS SIO <br>Services informatiques aux organisations</p>
            <p>Lycée Barthelemy Laffemas, Valence</p>
          </div>
        </li>
        <li>
          <div id="education-4">
            <p>2012-213</p>
            <p>BAC STG <br>Sciences et technologies de la gestion <br>option Mercatique</p>
            <p>Lycée Jaufré Rudel, Blaye</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="column small-12" id="four" data-magellan-target="four">
      <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
      </div>
    </div>
    <div class="column small-12 padding-defaut block">
      <h2>Réalisations</h2>
    </div>
    <div class="column small-12 medium-6 portfolio padding-defaut">
      <%= link_to 'https://pall-bttle.xyz/', target: "_blank" do %>
      <%= image_tag 'pall.png', class: 'zoomEffect1' %>
      <p> &nbsp;</p>
      <p class="text-center">Site social de sondage</p>
      <% end %>
    </div>
    <div class="column small-12 medium-6 portfolio padding-defaut">
      <%= link_to 'https://easy-gems.herokuapp.com/', target: "_blank" do  %>
      <%= image_tag 'easy.png', class: 'zoomEffect2' %>
      <p> &nbsp;</p>
      <p class="text-center">Site de tutorial Rails</p>
      <% end %>
    </div>
    <div class="column small-12" id="five" data-magellan-target="five">
      <div class="horizontal_line">
        <div class="line_left"></div>
        <div class="left_circle"></div>
        <div class="central_circle"></div>
        <div class="right_circle"></div>
        <div class="line_right"></div>
      </div>
    </div>
    <div class="column small-12 padding-defaut block">
      <h2>Socials</h2>
    </div>
    <div class="column small-6 medium-4 text-center">
      <%= link_to 'https://github.com/fremin33', target: "_blank" do %>
        <i class="fa fa-github fa-4x" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="column small-6 medium-4 text-center">
      <%= link_to 'https://twitter.com/Florian_Frmn', target: "_blank" do %>
        <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="column small-12 medium-4 text-center">
      <%= link_to 'https://www.linkedin.com/in/freminflorian/', target: "_blank" do %>
        <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
      <% end %>
    </div>
    <p> &nbsp;</p>
  </div>
</div>



